.idea
.idea/*
node_modules
node_modules/*
package-lock.json
phys.iml
*.iml
target
target/*
frontend/DocumentRecognizer/.sencha/*
frontend/DocumentRecognizer/build/*
frontend/DocumentRecognizer/ext/*
frontend/DocumentRecognizer/ext

frontend/DocumentRecognizer/bootstrap.*
frontend/DocumentRecognizer/classic.json*
frontend/DocumentRecognizer/modern.json*
frontend/DocumentRecognizer/.sencha
